*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;

}
body{
    display: flex;
    flex-direction: column;
    width: 1024px;
    min-height: 100vh;
    background-color:white;
    color: black;
    margin-top: 10px;
    margin-left: 100px;
    margin-left: 100px;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    background-color:white;
    overflow: auto;
    flex-direction: row;
    margin: 10px;
    border: 5px;
    padding: 5px;
}


.logo{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
  
} 

.logo h1{
     font-family: "Volkhov", serif;
     font-weight: 200;
     font-style: Bolt;
     font-size: 25px;
     line-height: 24px;
     letter-spacing: 0.6%;
          }

.navbar .nav-links ul{
    list-style: none;
    display: flex;
    
}

.navbar .nav-links ul li{
    margin: 0 15px;
}

.navbar .nav-links ul li a{
    color: black;
    text-decoration: none;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: regular;
    line-height: 24px;

}

.button{
    color: rgba(250, 116, 54, 1);
    height: 24px; 
    width: 100PX;
    background-color: white;
    border: 0px;
    padding: 5px;
}

.buttondark{
    color: white;
    height: 30px; 
    width: 100PX;
     background-color: rgba(250, 116, 54, 1);
    border-radius: 5%;
    border: 1px rgba(250, 116, 54, 1);
    padding: 5px;
}


.hero{
   
    display: flex;
    justify-content: space-between;
    padding: 20px;

}    

  #heromale{
    height: 300px;
    width: 200px;
}
#herooff{
    height: 150px;
    width: 350px;

}
#heroarrow{
    width: 200px;
} 

.left{
     flex: 1;
    justify-content: center;
    align-items: center;
    padding: 3px;

} 
.left h1{

     font-family: "Volkhov", serif;
     font-weight: 500;
     font-style: Bolt;
     font-size: 40px;
     line-height: 20px;
     line-height: 1;
     width: 400px;
     margin-top: 40px;
     

     }

.left p{
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 18px;
    width: 400px;
   line-height: 2;

}

.buttonwhite{
     font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: medium;
    font-size: 12px;
    height: 30px;
    width: 100px;
    color: rgba(250, 116, 54, 1) ;
    border: 2px;
    border-color:  rgb(250, 116, 54, ) ;
    border-radius: 5%;
    margin: 5px;
}

.right{
   flex: 1;
   padding: 3px;
   justify-content: flex-end;

  
}
 #heromale{
    height: 280px;
    width: 350px;
    margin-top:0px;
    position: relative; 
   top: 30px;
   z-index: auto;
   }  

#heroarrow{
    height: auto;
    width: 400px;
    margin-top: 3px;
    position: absolute;
}

 
#herooff{
    height: 150px; 
    width: 350px;
   position: absolute;
   top: 270px;
   right: 300px;
   z-index: -1;
   
}  

.trophy{
   
    height: 30px;
    width: 100px;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border: 2px;
    border-radius: 5%;
   position: absolute;
   top: 180px;
   right: 570px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
   

}
.trophy img{
    height: 15px;
    width: 15px;
    padding: 5px;
   

}
.trophy h4{
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: medium;
    font-size: 10px;
    
}

.star{
    height: 30px;
    width: 100px;
     box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border: 2px;
    background-color: white;
    border-radius: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    top: 300px;
   right: 550px;
   z-index: 1;
}
.star img{
     height: 20px;
    width: 20px;
    padding: 3px;
}

.star p{
    font-family: "Poppins", sans-serif;
    font-weight: 60px;
    font-style: medium;
    font-size: 7px;
    margin-top: 10px;
   
  
}

.star h4{
     font-family: "Poppins", sans-serif;
    font-weight: 50px;
    font-style: medium;
    font-size: 8px;
    padding: 2px;
}

.location{
    display: flex;
    justify-content: space-around;
    height: 35px;
    width: 100px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border: 2px;
    background-color: white;
    position: absolute;
     top: 200px;
   right: 300px;
    border-radius: 5%;
    z-index: 1;
    padding: 3px;

}
.location img{
     height: 20px;
    width: 20px;
    margin-top: 3px;
}

.location p{
    font-family: "Poppins", sans-serif;
    font-weight: 50px;
    font-style: medium;
    font-size: 6px;
    margin-top:10px ;
  
}
.location h4{
    
     font-family: "Poppins", sans-serif;
    font-weight: 50px;
    font-style: medium;
    font-size: 7px;
}

.heroevent{
 
    margin-left: 100px;
   display: flex;
   direction: row;
   justify-content: space-between;
    padding: 5px;
    height: 40px;
    width: 650px;
    border: 2px;
    border-radius: 3%;
     box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.event{
 padding: 0px;
}
.heroevent h5   {
      font-family: "Poppins", sans-serif;
    font-weight: 100px;
    font-style: bolt;
    font-size: 12px;
    display: inline;

}

.heroevent img{
    display: inline;
    height: 5px;
    width: 5;
}
.heroevent p{
      font-family: "Poppins", sans-serif;
    font-weight: 50px;
    font-style: regular;
    font-size: 8px;

}

.heroevent button{
    background-color:  rgba(250, 116, 54, 1);
    border: 0px;
    padding: 5px;
    color: white;
}

.tyn{
   
    padding: 4px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.tynhead{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 4px;
    margin-top: 50px;

}

.tynhead h3{
   grid-column: span 2 / span 2;
    display: flex;
     justify-content: center;
     margin: auto;
     font-family: "Volkhov", serif;
     font-weight: 200;
     font-style: Bolt;
     font-size: 20px;
     line-height: 24px;
     letter-spacing: 0.6%; 

}

.tynhead h3 span{
     font-family: "Volkhov", serif;
     font-weight: 200;
     font-style: Bolt;
     font-size: 20px;
     line-height: 24px;
     letter-spacing: 1%; 
}
.tynhead img{
    grid-row: span 2 / span 2;
    grid-column-start: 3;
    justify-content: flex-start;
    align-items: flex-start;
    height: auto;
    width: 100px;

}
.tynhead p{
   grid-column: span 2 / span 2;
    grid-row-start: 2;
    justify-content: center;
    justify-content: center;
    width: 200px;
    margin-left: 240px;
    font-family: "Poppins", sans-serif;
    font-weight: 45px;
    font-style: regular;
    font-size: 8px;

}

.tyncountainer{
    display: flex;
    justify-content: space-around;
    padding: 5px;
    margin: 10px;
    margin-right: 100px;
    margin-top: 10px;
}
.tynchild{
    height: auto;
    width: 150px;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 5px;
}
.tynchild img{
    width: 30px;
    height: auto;
    padding: 5px;
    border: 5px;
}
 
.tynchild h6{
     font-family: "Poppins", sans-serif;
    font-weight: 70px;
    font-style: Bold;
    font-size: 12px;
    padding: 5px;
    border: 5px;
}

.tynchild p{
     font-family: "Poppins", sans-serif;
    font-weight: 40px;
    font-style: Regular;
    font-size: 8px;
    padding: 5px;
    border: 5px;
}

/* Exclusive deals & discounts start */
.deals{
    margin-top: 100px;
    margin-bottom: 50px;
    padding: 10px;
        position: relative;

}
.deals h3{
    display: flex;
    justify-content: center;
     font-family: "Volkhov", serif;
     font-weight: 700;
     font-style: Bolt;
     font-size: 24px;
     line-height: 24px;
     letter-spacing: 1%; 
     gap: 3px;

}
.deals h3 span{
     font-family: "Volkhov", serif;
     font-weight: 700;
     font-style: Bolt;
     font-size: 24px;
     line-height: 24px;
     letter-spacing: 1%; 
     gap: 3px;
     padding: 5px;
}

.deals h4{
    text-align: center;
    width: 250px;
    height: auto;
    padding: 3px;
    margin: auto;
    font-family: "Poppins", sans-serif;
    font-weight: 10px;
    font-style: regular;
    font-size: 10px;

}
.dealsbody{
    display: flex;
    justify-content: space-between;

}
.dealsbodys{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: auto;
    border-radius: 5%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-top: 40px;
}
.deals-pad{
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-top: 10px;

}
.deals-pad img{
    margin-left: 70px;
}
.deals-pad p{
    margin-right: 20px;
}
.h5{
    margin-left: 20px;
     font-family: "Poppins", sans-serif;
    font-weight: 800px;
    font-style: Medium;
    font-size: 20px;
    line-height: 24px;
}

.deels--bad{
    display: flex;
    justify-content: space-between;
     margin-left: 20px;
    margin-top: 10px;
    margin-right:20px ;

}
.deels--bad img{
    width: 10px;
    height: auto;

}
.deels--bad p{
   margin-bottom: 5px;
    margin-right: 10px;

     font-family: "Poppins", sans-serif;
    font-weight: 300px;
    font-style: Regular;
    font-size: 14px;
  
}
.deels--bad span{
    margin-left: 15px;
     font-family: "Poppins", sans-serif;
    font-weight: 300px;
    font-style: Regular;
    font-size: 12px;
}
.deels--bad h6{
    height: 15px;
    width: 30px;
     font-family: "Poppins", sans-serif;
    font-weight: 300px;
    font-style: Regular;
    font-size: 12px;
    background-color: rgba(255, 231, 219, 1);
    border-radius: 5%;
    color: rgba(250, 116, 54, 1);
}


.dealsbodys button{
    position: absolute;
    z-index: 1;
  
    top: 290px;
    left: 320px;
}

.arrows{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.whitearrow{
    height: 15px;
    width: 15px;
    border: 2px;
    border-style:solid;
    border-color:rgba(153, 153, 153, 0.5); 
    border-radius: 50%;
    padding: 5px;
}

.darkarrow{

     height: 15px;
    width: 15px;
    border: 2px;
    background-color: rgba(250, 116, 54, 1);
    border-radius: 50%;
    padding: 5px;
    margin-left: 5px;
}

/* Best vacation plan start */

.bv{
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 5px;

}
.bvhero{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 8px;
}
.bvhero h3{
      grid-column: span 3 / span 3;
       display: flex;
    justify-content: center;
    margin-left: 65px;
     font-family: "Volkhov", serif;
     font-weight: 700;
     font-style: Bolt;
     font-size: 24px;
     line-height: 24px;
     letter-spacing: 1%; 
     gap: 3px;
     padding: 5px;
}
.bvhero h3 span{
     font-family: "Volkhov", serif;
     font-weight: 700;
     font-style: Bolt;
     font-size: 24px;
     line-height: 24px;
     letter-spacing: 1%; 
     gap: 3px;
   
}
.bvhero img{
     grid-row: span 2 / span 2;
    grid-column-start: 4;
    width: 100px;
    justify-content: flex-start;
}
.bvhero p{
   grid-column: span 3 / span 3;
    grid-row-start: 2;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 2px;
    width: 290px;
    height: auto;
    padding: 3px;
    margin: auto;
    font-family: "Poppins", sans-serif;
    font-weight: 10px;
    font-style: regular;
    font-size: 10px;
}
.bvarrow{
    display: flex;
    justify-content: flex-end;
}

.bvbody{
   display: flex;
justify-content: space-between;
    
}
.bvcont{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: auto;
    border-radius: 5%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-top: 40px;
}
   
.bvimg{
    width: 300px;
    height: auto;
}
.bvchild{
    margin: 10px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
}
.bvchild h5{
      font-family: "Poppins", sans-serif;
    font-weight: 300px;
    font-style: Medium;
    font-size: 14px;
}
.bvchild p{
      font-family: "Poppins", sans-serif;
    font-weight: 300px;
    font-style: SemiBold;
    font-size: 14px;
    color:rgba(250, 116, 54, 1); ;
}
.bv-child{
     margin: 10px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
}
.bv-child div img{
    display: inline;
    width: 13px;
    height: auto;
}
.bv-child div p{
    display: inline;
     font-family: "Poppins", sans-serif;
    font-weight: 100px;
    font-style: Regular;
    font-size: 14px;
}

/* about us people */
.aboutus{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 100px;
     position: relative;

}
.aboutleft{
    padding: 5px;
}
.aboutleft h2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
    margin: 5px;
    font-family: "Volkhov", serif;
     font-weight: 650;
     font-style: Bolt;
     font-size: 24px;
     line-height: 24px;
     letter-spacing: 1%; 
     gap: 3px;
}

.aboutleft h2 span{
    font-family: "Volkhov", serif;
     font-weight: 650;
     font-style: Bolt;
     font-size: 24px;
     line-height: 24px;
     letter-spacing: 1%; 
      gap: 3px;
      margin-top: 5px;
}
.aboutleft p{
     padding: 5px;
     margin: 5px;
     font-family: "Poppins", sans-serif;
    font-weight: 100px;
    font-style: Regular;
    font-size: 12px;
}
.aboutleft img{
    padding: 5px;
    margin: 5px;
    
}

.aboutright{
    display: flex;
    justify-content: space-between;
  
}

.arbox{
    padding: 10px;
    box-shadow: rgba(100, 100, 11, 0.2) 0px 7px 29px 0px;
    display: flex;
    width: 400px;
    height: auto;
   border: 15px;
   flex-direction: column;
}
.arbox img{
    position: absolute;
    top: 0px;
    left: 250px;
    width: 50px;

}
.arbox p{
    font-family: "Poppins", sans-serif;
    font-weight: 100px;
    font-style: Medium;
    font-size: 12px;

}
.arbox h5{
    font-family: "Poppins", sans-serif;
    font-weight: 100px;
    font-style: SemiBOLD;
    font-size: 16px;
    margin-top: 25px;
}
.arbox h6{
     font-family: "Poppins", sans-serif;
    font-weight: 100px;
    font-style: SemiBOLD;
    font-size: 8px;
}

.ar-box{
 padding: 10px;
    box-shadow: rgba(100, 100, 11, 0.2) 0px 7px 29px 0px;
    display: flex;
    width: 400px;
    height: 150px;
   border: 15px;
   position: absolute;
   top: 140px;
   left: 430px;    
}

.ar-box h5{
  font-family: "Poppins", sans-serif;
    font-weight: 100px;
    font-style: SemiBOLD;
    font-size: 16px;
    margin-top: 25px;
    display: flex;
    justify-content: flex-start;
    align-self: center;
    padding: 5px;
    margin-left: 20px;
}
.ar-box h6{
  font-family: "Poppins", sans-serif;
    font-weight: 100px;
    font-style: SemiBOLD;
    font-size: 8px;
    justify-content: flex-start;
    align-items: flex-start;
   align-self: flex-end;
   margin: 0px;
}

.arimg{
    height: 150px;
    width: auto;
    padding: 5px;
    margin: 0px;
}

.lbcont{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    margin: 50px;
    padding: 10px;
}
.lbcont h3{
    display: flex;
    justify-content: center;
    padding: 5px;
     font-family: "Volkhov", serif;
     font-weight: 700;
     font-style: Bolt;
     font-size: 24px;
     line-height: 24px;
     letter-spacing: 1%; 
     gap: 3px;
}
.lbcont h3 span{
     justify-content: center;
    padding: 5px;
     font-family: "Volkhov", serif;
     font-weight: 700;
     font-style: Bolt;
     font-size: 24px;
     line-height: 24px;
     letter-spacing: 1%; 
     gap: 3px;
}

.lb{
    display: flex;
    justify-content: space-between;
    border: 1px;
    padding: 1px; 
    margin-top: 30px;
}
.lbchild{
    width: 200px;
   height: auto;
   padding: 3px;
}
.lbchild img{
    width: 200px;
    height: auto;
    border-radius: 5%;
}
.lbchild h6{
    margin-top: 5px;
    font-family: "Poppins", sans-serif;
    font-weight: 200px;
    font-style: SemiBOLD;
    font-size: 15px;
}
.lbchild p{
    font-family: "Poppins", sans-serif;
    font-weight: 50px;
    font-style: SemiBOLD;
    font-size: 9px;
    color: gray;
    margin-top:5px ;
    margin-bottom: 5px;

}
.lbdot{
    display: flex;
    justify-content: center;
    margin: 5px;
    margin-top: 10px;

}
.lbdot img{
    margin-left: 5px;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5px;
    margin-bottom: 20px;
    position:relative;
}
.footerup{
    flex: 1;
    background-color: rgba(250, 116, 54, 1);
    border-radius: 2%;
    margin-bottom: 50px;
    border-bottom: 50px; 
   
}
.footerimg{
    display: flex;
    justify-content: flex-end;
    justify-self: flex-end;
    color: white;
    padding: 5px;
}
.footerup h3{
    display: flex;
    justify-content: center;
    align-self: center;
     font-family: "Volkhov", serif;
     font-weight: 900;
     font-style: Bolt;
     font-size: 27px;
     line-height: 24px;
     letter-spacing: 1%; 
     gap: 3px;
     color: white;
     border: 5px;
     padding: 5px;
}
.form{
      display: flex;
      flex-direction: row;
    justify-content: center;
    align-self: center;
    margin-top: 40px;
    margin-bottom: 60px;
    padding: 5px;
    border: none;
    border-bottom: 30px;
   

}
.form-{
    display: block;
     background-color: white;
     border: 20px;
     padding: 5px;
     border-radius: 3%;
}
.form label{
    border: 0px;
    outline: none;
}

.footimg{
    position: absolute;
    top: 110px;
    left: 0px;
    width: 300px;
    height: auto;
}
.footerdown{
    display: flex;
    justify-content: space-between;
    border-bottom:20px ;
}

.footerdown h4{
    padding: 5px;
    font-family: "Volkhov", serif;
     font-weight: 700;
     font-style: Regular;
     font-size: 14px;
     margin: 10px;
}
.footerdown p{
      font-family: "Poppins", sans-serif;
    font-weight: 50px;
    font-style: SemiBOLD;
    font-size: 12px;
    color: gray;
    margin: 10px;
}
.footer-down h4{
    display: inline;

}
.footer-img{
   padding: 5px;
}
.footer-img img{
    border: 5px;
    padding: 5px;
    background-color:white;
    border-radius: 50%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.final{
    margin: 10px;
    display: flex;
    justify-content: space-between;
          font-family: "Poppins", sans-serif;
    font-weight: 50px;
    font-style: SemiBOLD;
    font-size: 12px;
    color: gray;
}

@media (max-width:2024px){
    /* header and button */

    .button{
        padding: 25px 50px;
    }
    .buttondark{
        padding: 10px 30px;
    }
    .buttonwhite{
        padding: 25px 50px;
    }
    body{
        padding: 50px;
        margin: 100px;
    }
    .navbar{
        width: 100%;
        left: 0;
        right: 0;
        padding: 10px 20px;
    }
    .herosection{
        width: 100%;
        height: auto;
        position: relative;
    }
    .left{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: start;
    }
    .left h1{
        font-size: 50px;
    }
    .left p{
        font-size: 20px;
    }
    .left .button{
        display: flex;
        justify-content: flex-start;
    
    }
    .right{
       width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: start;
    }
    #herooff{
        position: absolute;
        top: 260px;
        left: 500px;
    }
    .trophy{
        position: absolute;
         top: 130px;
        left: 500px;
    }
    .star{
         position: absolute;
         top: 260px;
        left: 520px;
    }
    .location{
         position: absolute;
         top: 180px;
        left: 730px;
    } 
}

@media (max-width:1024px){
    body{
   
    width: 1024px;
    margin-top: 10px;
    margin-left: 100px;
    margin-left: 100px;
}
.herosection{
        width: 100%;
        height: auto;
.navbar{
      margin: 10px;
    border: 5px;
    padding: 5px;
}
.logo{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
  
} 
.logo h1{
    font-size: 25px;
}
.navbar .nav-links ul li{
    margin: 0 15px;
}
.navbar .nav-links ul li a{
    font-size: 16px;
    
}
.button{
    height: 24px; 
    width: 100PX;
     padding: 5px;
}
.buttondark{
    padding: 5px;
}
.hero{
      padding: 20px;
}
 #heromale{
    height: 300px;
    width: 200px;
}
#herooff{
    height: 150px;
    width: 350px;

}
#heroarrow{
    width: 200px;
} 
.left{
    padding: 3px;
}
.left h1{
    font-size: 40px;
    margin-top: 40px;
}
.left p{
    font-size: 18px;
}
.buttonwhite{
     margin: 5px;
}
.right{
    padding: 3px;
}

     

}